{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple ToDo App</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container mt-5">
        {% for task in tasks %}
            <div class="row mb-5">
                <div class="col-8 ">
                    <div class="card">
                        <div class="card-text text-center">Приоритет: {{ task.level }}</div>
                        <div class="card-header text-center badge-info">{{ task.title }}</div>
                        <div class="card-body text-center">{{ task.description }}</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mt-3">
                        <div class="card-text text-center">Тэг: <p class="text-center">{{ task.tag }}</p></div>
                        {% if not task.is_todo %}
                            <div class="row">
                                <form class="card-body" method="get" action="{% url 'task_complete' %}">
                                    {% csrf_token %}
                                    <input name="task_id" hidden value="{{ task.id }}">
                                    <button class="bg-warning text-center">Готово</button>
                                </form>
                                <form class="card-body" method="get" action="{% url 'task_delete' %}">
                                    {% csrf_token %}
                                    <input name="task_id" hidden value="{{ task.id }}">
                                    <button class="bg-danger text-center">Удалить</button>
                                </form>
                            </div>
                        {% else %}
                            {% csrf_token %}
                            <div class="badge-success text-center">Выполнено!</div>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
